# Byte-compiled / cache
*.py[cod]
__pycache__/

# Jupyter artifacts
.ipynb_checkpoints/
*.nbconvert.ipynb
*.html

# Local datasets
CV/dlcv/datasets/cifar-10-batches-py/

github-recovery-codes.txt

/OS/Exp*/**/build/

/draft/

pytorch_model.bin
/NlP/**/*results/
/NlP/**/*logs/

/CV/**/datasets/
/CV/**/runs/
/CV/Project/yolo11n.pt